body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f7fa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  min-width: 400px;
  min-height: 150px;
  overflow-y: auto;
  padding: 10px 7px;
  box-sizing: border-box;
  position: relative;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

.up {
  color: #f56c6c;
  font-weight: bold;
}

.down {
  color: #4eb61b;
  font-weight: bold;
}

.btn {
  display: inline-block;
  line-height: 1;
  cursor: pointer;
  background: #fff;
  padding: 5px 6px;
  border-radius: 3px;
  font-size: 12px;
  color: #000000;
  margin: 0 3px;
  outline: none;
  border: 1px solid #dcdfe6;
}

.btn.edit {
  padding: 2px 5px;
  margin: 0;
}

.btn.red {
  color: #f56c6c;
}

.btn.num {
  width: 75px;
  padding: 3px 6px;
}

.btn-up {
  color: #f56c6c;
  border-color: #f56c6c;
  font-weight: bold;
}

.btn-down {
  color: #4eb61b;
  border-color: #4eb61b;
  font-weight: bold;
}

.table-row {
  max-height: 425px;
  overflow-y: auto;
}

table {
  margin: 0 auto;
  width: 100%;
  border-collapse: collapse;
  text-align: right;
}

th, td {
  padding: 6px;
}

.align-left {
  text-align: left;
}

tbody tr:hover {
  background: #f5fafe;
}

.fundName {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
}

.fundName:hover {
  color: #409eff;
}

.pointer {
  cursor: pointer;
  user-select: none;
}

.input-row {
  text-align: center;
  margin-top: 10px;
}

.tips {
  font-size: 12px;
  margin: 0;
  color: #aaaaaa;
  line-height: 1.4;
  padding: 5px 15px;
}

/* Dark Mode */
.container.darkMode {
  color: rgba(255, 255, 255, 0.87);
  background-color: #121212;
}

.container.darkMode .btn {
  background-color: rgba(255, 255, 255, 0.16);
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.container.darkMode .up {
  color: #f56c6c;
}

.container.darkMode .down {
  color: #4eb61b;
}

.container.darkMode tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.container.darkMode table {
  background-color: rgba(255, 255, 255, 0.12);
  border-radius: 5px;
}